IMAGEKIT_PRIVATE_KEY=private_/jna9s7dCZuC7PceDmuqy0SHfNs=
IMAGEKIT_PUBLIC_KEY=public_Hol+jAlmqc6a49bmC1IfJYy0zzY=
IMAGEKIT_URL=https://ik.imagekit.io/inwslyqx8


.idea/*
*.idea
*.py[co]
media/*
static/*
__pycache__/*
*/__pycache__

# python byte code files
*.pyc

.pytest_cache

test.db

venv/


local.py

.env
